/* CONFIGURAÇÕES PADRÕES DO SITE */
:root {
    --navbar-bg-color: #f3f3f3;
    --footer-bg-color: #343236;
    --body-bg-color: #391e5d;
    --dark-font-color: #0a0016;
    --light-font-color: #dfdfdf;
    --alt-light-color: #cdd5eb;
    --button-color-login: #71cedab2;
}

/* CONFIGURAÇÃO DA NAVBAR */

#logo {
    height: 3em;
    width: auto;
}


main {
    height: 65em;
    padding: 12em 4em 10em 4em;
    box-sizing: border-box
}

/* Criação de três "Cards" com tamanhos Iguais para cada tipo de plano */
.cards {
    float: left;
    width: 33.3%;
    padding: 8px;
}

/* Estilo da lista dos cards do plano de assinatura */
.lista {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* adição de sombreamento nos planos de assinatura */
.lista:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

/* cabeçalho dos planos de assinatura */
.lista .header {
    background-color: #8a2be2;
    color: white;
    font-size: 25px;
    font-family: 'roboto';
}

/* lista de Itens */
.lista li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

/* container de preço */
.price {
    background-color: #eee;
    font-size: 20px;
    font-family: 'roboto';
    font-weight: bold;
}

/* container do botão de assinatura */
.assinatura {

    background-color: #eee;
    font-size: 20px;

}

/* Botão de Assinatura */
.assinatura .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 990px) {
    main {
        height: 120em;
        padding: 8 4 8 4;
    }

    .cards {
        height: 80%;
        width: 95%;
        flex-direction: column;

    }
}

@media only screen and (max-width: 600px) {
    main {
        height: 130em;
        padding: 8 4 8 4;
    }

    .cards {
        height: 80%;
        width: 100%;
        flex-direction: column;

    }
}

@media only screen and (max-width: 440px) {
    main {
        height: 135em;
        padding: 8 4 8 4;
    }

    .cards {
        height: 80%;
        width: 100%;
        flex-direction: column;

    }
}

@media only screen and (max-width: 420px) {
    main {
        height: 150em;
        padding: 8 4 8 4;
    }

    .cards {
        height: 80%;
        width: 100%;
        flex-direction: column;

    }
}

@media only screen and (max-width: 350px) {
    main {
        height: 170em;
        padding: 8 4 8 4;
    }

    .cards {
        height: 80%;
        width: 100%;
        flex-direction: column;

    }
}

@media only screen and (max-width: 321px) {
    main {
        height: 177em;
        padding: 8 4 8 4;
    }

    .cards {
        height: 80%;
        width: 100%;
        flex-direction: column;

    }
}